<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/header_footer.css">
    <link rel="stylesheet" href="../css/book_style.css">
    <title>Book</title>
</head>
<body>
<header class="header">
    <div class="name">
        <h1>Мій особистий блог</h1>
        <h3>Озмітель Кирило</h3>
    </div>
</header>
<main class="container">
    <div class="book">
        <img src="../img/clean.png" alt="Роберт Мартін">
        <div class="name-book">
            <p><b>Назва книги:</b> Роберт Мартін</p>
            <p><b>Автор:</b> Чиста Архітектура</p>
            <p><b>Жанр:</b> жанр</p>
            <p><b>Рік першого видання:</b> 2016</p>
        </div>
        <div class="name-cadet">
            <h4><u>Моя улюблена книга</u></h4>
            <p>Озмітель Кирило Олександрович</p>
        </div>
    </div>
    <div class="description-book">
        <div class="details">
            <h4><u>Короткий опис</u></h4>
        </div>
        <p>
            Ідеальний програміст» і «Чистий код» — легендарні бестселери Роберта Мартіна — розповідають, як досягти висот професіоналізму.
            «Чиста архітектура» продовжує цю тему, але не пропонує кілька варіантів в стилі «вирішуй сам», 
            а пояснює, що саме слід робити, з якої причини і чому саме таке рішення стане принципово важливим для вашого успіху.
            Роберт Мартін дає прямі і лаконічні відповіді на ключові питання архітектури і дизайну. 
            «Чисту архітектуру» зобов'язані прочитати розробники всіх рівнів, системні аналітики, архітектори і кожен програміст, 
            який бажає піднятися по кар'єрних сходах або хоча б вплинути на людей, які займаються цією роботою.
            Всі архітектури підкоряються одним і тим же правилам!
            Роберт Мартін (дядечко Боб)
        </p>
    </div>
    <div class="author-book">
        <img src="../img/author.jpg" alt="Роберт Мартін">
        <div class="details-author">
            <div class="details"><h4><u>Про автора</u></h4></div>
            <h3><u>Роберт Сесіл Мартін</u></h3>
            <i>(рік народження - 1952)</i>
            <p>
                Роберт Сесіл Мартін, також відомий як Дядько Боб — консультант і автор в області розробки ПЗ.
                Мартін є професіоналом в області розробки ПЗ з 1970, а з 1990 став міжнародним консультантом у цій галузі.
                У 2001 він організував зустріч групи, яка створила гнучку методологію розробки на основі методів екстремального програмування.
            </p>
        </div>
    </div>
    <div class="zmist-book">
        <h2><u>ЗМІСТ</u></h2>
        <h3><u>РОЗДІЛ 1</u></h3>
        <h3><u>РОЗДІЛ 2</u></h3>
        <h3><u>РОЗДІЛ 3</u></h3>
        <h3><u>РОЗДІЛ 4</u></h3>
    </div>
</main>
<footer class="footer">
    <p>#Всі права захищені.</p>
    <p>Розробник: курсант 201 навчальної групи Озмітель К.О.</p>
</footer>
</body>
</html>