<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/header_footer.css">
    <link rel="stylesheet" href="../css/login_style.css">
    <title>Login</title>
</head>
<body>
<header class="header">
    <div class="name">
        <h1>Мій особистий блог</h1>
        <h3>Озмітель Кирило</h3>
    </div>
    <div class="navigation">
        <a class="login" href="../index.html">Home</a>
        <a class="registration" href="registartion.html">Реєстрація</a>
    </div>
</header>
<main>
    <div class="container">
        <div class="head">
            <h2>Вхід до блогу</h2>
        </div>
        <form class="main">
            <label class="lbl-user">Користувач<input type="text" class="inp-user"></label><br><br>
            <label class="lbl-password">Пароль<input type="password" class="inp-password"></label><br>
            <input type="submit" value="Ввійти" class="btn-login">
        </form>
    </div>
</main>
<footer class="footer">
    <p>#Всі права захищені.</p>
    <p>Розробник: курсант 201 навчальної групи Озмітель К.О.</p>
</footer>
</body>
</html>