<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/header_footer.css">
    <link rel="stylesheet" href="../css/registration_style.css">
    <title>Registration</title>
</head>
<body>
<header class="header">
    <div class="name">
        <h1>Мій особистий блог</h1>
        <h3>Озмітлель Кирило</h3>
    </div>
    <div class="navigation">
        <a class="login" href="login.html">Вхід</a>
        <a class="registration" href="../index.html">Home</a>
    </div>
</header>

<main class="main">
    <div class="container-reg">
        <h1>Реєстрація користувача</h1>
        <label class="lbl">Прізвище<input type="text" class="inp"></label>
        <label class="lbl">Ім'я<input type="text" class="inp"></label>
        <label class="lbl">Логін<input type="text" class="inp"></label>
        <label class="lbl">Навчальна група<input type="number" class="inp"></label>
        <label class="lbl">Пароль<input type="password" class="inp"></label>
        <label class="lbl">Підтвердження паролю<input type="password" class="inp"></label>
        <input type="submit" value="Зареєструватися" class="btn">
    </div>
</main>

<footer class="footer">
    <p>#Всі права захищені.</p>
    <p>Розробник: курсант 201 навчальної групи Озмітель К.О.</p>
</footer>
</body>
</html>